:root {
  --background-rgb: 2 6 23;
  --background-light-rgb: 30 41 59;

  --border-rgb: 255 255 255;
  --border: 1px solid rgb(var(--border-rgb) / 20%);

  --hyperplexed-main-rgb: 41 121 255;
  --hyperplexed-main-light-rgb: 56 182 255;
  --hyperplexed-secondary-rgb: 42 252 152;

  --card-size: 100px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  overflow: hidden;
}

.card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 4;
}

.card-mask {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 4;
}

.card-background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  mix-blend-mode: darken;
  pointer-events: none;
  z-index: 3;
}

.card-black-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #11100e;
  z-index: 0;
}

.card-letters {
  --x: 0px;
  --y: 0px;
  position: absolute;
  left: 10px;
  top: 10px;
  height: 95%;
  width: 95%;
  color: white;
  font-size: 0.6rem;
  font-weight: 500;
  word-wrap: break-word;
  opacity: 0;
  transition: opacity 400ms;
  -webkit-mask-image: radial-gradient(
    calc(var(--card-size) * 0.8) circle at var(--x) var(--y),
    rgb(255 255 255) 20%,
    rgb(255 255 255 / 25%),
    transparent
  );
  scale: 1.03;
}

.card:hover .card-letters {
  opacity: 1;
}
